@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
  color: white;
}

.admin {
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  /* padding-top: 200px; */
}

.cards {
  background-color: white;
  /* height:300px; */
  border-radius: 20px;
}

#count {
  color: blue;
  font-size: 32px;
}

.container1 {
  background-color: indigo;
  padding: 25px;
  min-width: 500px;
  /* min-height: 500px; */
  height: 75%;
  width: 75%;
  border-radius: 20px;
}

/* @media (min-width:768px) {
    .admin {
        justify-content: flex-start;
    } */
/* } */
